.Flexibility{
    background-color: #FBF8F5;
    display: flex;
}
.bigmg{
    width: 932px;
    height: 343px;
}
.floyd{
    background-color:#E9672B;
    width: 588px;
    height: 343px;
    text-align: center;
    align-content: center;
}
.floyd h1{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}
.floyd button{
    padding: 16px 40px;
    border: none;
    background-color: #ffffff;
    border-radius: 88px;
}